extends layout

block scripts
	link(rel='stylesheet', href='/static/css/game.css')

block content
	div.container
		div.text-center(style="position: absolute; z-index: -1; top: 0; left: 0; margin: 1em auto; text-align: center; width: 100%;")
			<span id="loc-name" style="font-weight: bold; font-size: 2em; color: #eee;"></span>

		div(style="margin: 1em 0;")
			<a href="/" class="btn btn-circle btn-primary"><i class="fa fa-home" aria-hidden="true"></i></a>
			
			<a href="javascript:void(0)" onclick="refresh()" class="btn btn-circle btn-primary" style="float: right"><i class="fa fa-refresh" aria-hidden="true"></i></a>

		div#gallery
			- for (var i=0; i< 3; i++) {
				div.row
					- for (var j=0; j< 2; j++) {
						a(href="javascript:void(0)", id="img-full-"+(i*2+j))
							div.col-xs-6
								div.image-block(id="img-thumb-"+(i*2+j))
					- }
			- }

		div.text-center(style="position: fixed; bottom: 0; margin: 2em auto; text-align: center; width: 100%; left: 0")
			<a href="javascript:void(0)" onclick="saveFav()" class="btn btn-circle-2 btn-primary" style="margin: 0 0.5em;"><i id="fav-btn" class="fa fa-heart-o" aria-hidden="true"></i></a>
			<a href="javascript:void(0)" onclick="onNext();" style="margin: 0 0.5em;" class="btn btn-circle-2 btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>

		script.
			var current = null;

			$(function() {
				loadCity();
			});
