extends layout

block content
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>City Mash</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Favourites</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>About</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>City Mash</h1>
            <h3>Explore Cities and Discover Travel Destinations.</h3>
            <br>
            <div class="call-to-action text-center">
                <a href="/play" class="btn btn-lg btn-dark btn-b">Play</a>
                <a href="/browse" class="btn btn-lg btn-light">Browse</a>
            </div>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Favourites</h2>
                    <p class="lead">Here are locations you've previously saved...</p>
                    ul#fav-list.list-group
                        - Object.keys(favs).filter(function(x) { return favs[x] == "true"; }).forEach(function(favKey) {
                            li.list-group-item(style="text-align: left")
                                span(style="font-weight: bold;")= favKey
                                button.btn.btn-xs.pull-right(style="color: #eee; background-color: #1F496E").
                                    <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;&nbsp;Find Hotels

                        - });
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <div class="container" style="text-align: center">
        <img src="/static/img/logo.jpg" style=" width: 70%">
    </div>
    <!-- Footer -->
    <footer>
        <div class="container bg-primary">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>About City Mash</strong>
                    </h4>
                    <p>This web application was created as a hackathon project during Expedia's hotels.com hackathon.
                        <br>8-9th September 2016</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a style="color: #eef" href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="">Copyright &copy; City Mash 2016</p>
                </div>
            </div>

                    
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    
    </footer>


    <!-- Custom Theme JavaScript -->
    script.
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function() {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function() {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function() {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });


