extends layout

block scripts
	link(rel='stylesheet', href='/static/css/game.css')

block content
	div.container
		div(style="margin: 1em 0;")
			<a href="/" class="btn btn-circle btn-primary"><i class="fa fa-home" aria-hidden="true"></i></a>
			
			<a href="javascript:void(0)" onclick="refresh()" class="btn btn-circle btn-primary" style="float: right"><i class="fa fa-refresh" aria-hidden="true"></i></a>

		div.modal-body.row
			div.col-xs-6
				div#galleryA
					- for (var i=0; i< 3; i++) {
						div.row
							a(href="javascript:void(0)", id="img-full-A-"+(i))
								div.col-xs-6
									div.image-block(id="img-thumb-A-"+(i))
							
					- }

				div.text-center(style="margin: 2em auto; text-align: center; width: 100%;")
					<a href="javascript:void(0)" onclick="saveFav()" class="btn btn-circle-2 btn-primary" style="margin: 0 0.5em;"><i id="fav-btn" class="fa fa-heart-o" aria-hidden="true"></i></a>
					<a href="javascript:void(0)" onclick="onNextA();" style="margin: 0 0.5em;" class="btn btn-circle-2 btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			div.col-xs-6
				

		script.
			var current = null;

			$(function() {
				//loadCity();
			});
